<form method="POST" action="/new">
  <label for="user">Name:</label>
  <input type="text" id="user" required name="user">
  <label for="text">Message:</label>
  <input type="text" id="text" required name="text">
  <button>Submit</button>
</form>
<a href="/"><button>Back to Home Page</button></a>